.logo-part{
    height:54px;
    width:54px;
    border:1px dashed black;
    border-radius: 50%;
    /* margin:20px 0px 0px 60px; */
    text-align: center;
    position:relative;
    font-size: 25px;
    left:5%;
    top:50px;
    font-weight: bold;
    padding-top:5px;
    box-sizing: border-box;
    position: relative;
}
.logo-part::after{
    content: '';
    position: absolute;
    height:10px;
    width:10px;
    background-color: black;
    border-radius: 50%;
}
.logo-part::before{
    content: '';
    position: absolute;
    height:5px;
    width:5px;
    top:19px;
    left:50px;
    background-color: black;
    border-radius: 50%;
}
.banner-image{
    position: relative;
}
.banner-image__bg{
    position: absolute;
    right:0px;
    top:-67px;
    width:700px;
    z-index: 0;
}
.banner-image .main-photo{
    position: absolute;
    z-index: 1;
    right:0px;
}
.camera-photo{
    position: absolute;
    z-index: 2;
    right: 294px;
    top:112px;

}
.banner-part{
    display: flex;
    margin-bottom:100px;
}
.banner-part p{
    font-family: 'Prata', serif;
    font-size: 27px;
}
.title{
    margin-top:80px;
}
.banner-part h1{
    font-family: 'Playfair Display', serif;
    width:324px;
    font-size: 90px;
}
.banner-part .shri{
    font-size: 30px;
}
.banner-part .time-period{
    font-family: 'Playfair Display', serif;
    width:210px;
    text-align: center;
}
.banner-part .designation{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    width:115px;
    display: inline-block;
}

@media only screen and (min-width:320px) and (max-width:768px){
    .logo-part{
        font-size: 12px;
        height:32px;
        width:32px;
        border-radius:unset;
        border-radius:50%;
        padding:10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo-part::after{
        top:1px;
        height:5px;
        width:5px;
        left:23px;
    }
    .logo-part::before{
        top:11px;
        height:2.5px;
        width:2.5px;
        left:29px;
    }
    .banner-part{
        flex-direction: column;
        padding-bottom: 15px;
    }
    .banner-part p{
        font-size: 20px;
    }
    .banner-image{
        background-color: brown;
        height:auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:10px;
        /* display: none; */
    }
    .banner-image__bg{
        display: none;
    }
    .banner-image .main-photo{
        height:150px;
        width:150px;
        position: unset;
        top: unset;
        transform:unset;
    }
    .camera-photo{
        display: none;
    }
    .banner-part h1{
        font-size:53px;
        width:unset;
    }
    .banner-part .shri{
        font-size:20px;
    }
    .banner-part .designation{
        font-size: 14px;
    }
}
@media only screen and (min-width:577px) and (max-width:768px){
    .camera-ipad-view{
        display: block !important;
    }
}

@media only screen and (min-width:769px) and (max-width:992px){
    .banner-image .banner-image__bg{
        display: none;
    }
    .banner-image .main-photo{
        height:300px;
        width:300px;
        top:152px;
        right:0;
        left:unset;
    }
    .banner-image .camera-photo{
        height:300px;
        width:300px;
        top:182px;
        right:132px;
        left:unset;
    }
    .banner-part{
        flex-direction: row;
    }
    .banner-image{
        background-color: brown;
        height:300px;
    }
}
@media only screen and (min-width:993px) and (max-width:1200px) {
    .banner-image .banner-image__bg{
        width:600px;
        height:650px;
    }
    .banner-image .main-photo{
        height:300px;
    }
    .banner-image .camera-photo{
        height:400px;
        left: unset;
        right:140px;
        top:65px
    }
}