ul{
    list-style-type:circle;
    margin-top:100px;
}
ul li{
    width:298px;
    font-size: 21px;
}
.awards-description p{
    font-size:33px;
}
.awards span{
    position: absolute;
    top:320px;
    left: 65px;
    font-size: 30px;
}
.awards-description span{
    font-size:80px;
}
.awards-container{
    margin-top: 80px;
    margin-bottom:80px;
}
.awards{
    /* margin-left:15%; */
    background-color:#540D10 ;
    position:relative;
    color:#fff;
    padding-left:15%;
    padding-top:20px;
    height:600px;
    /* width:460px; */
}
.awards-description{
    margin-right:150px;
    font-family: 'Lato','sans-serif';
    font-weight: lighter;
}
