ul{
    list-style-type:circle;
    /* margin-top:100px; */
    margin-left: 0;
}
ul li{
    width:298px;
    font-size: 21px;
    margin-left:-10px;
}
.awards p{
    font-size: 30px;
    margin-top:30px;
}
.awards-description p{
    font-size:33px;
}
#awardsQuote{
    quotes:"“";
}
.awards span{
    font-size: 30px;
}
.awards-description span{
    font-size:80px;
}
.awards-container{
    margin-top: 80px;
    margin-bottom:80px;
}
.awards{
    /* margin-left:15%; */
    background-color:#540D10 ;
    color:#fff;
    padding-left:15%;
    padding-top:20px;
    height:600px;
    /* width:460px; */
}
.awards-description{
    margin-right:150px;
    font-family: 'Lato','sans-serif';
    font-weight: lighter;
}
