a{
  text-decoration: none;
  color:black;
}
.card-arrow{
  display: none;
  height:30px;
  width:30px;
  background-color: #F58923;
  color:white;
  text-align: center;
  border-radius: 50%;
  font-size:16px;
  box-shadow: 0px 0px 10px #F58923;
  position: absolute;
  bottom:10px;
  left:150px;
  /* left:100px; */
  z-index: 1;
  transition:1s all;
}
.carousel-card-img{
  transition:.4s all;
}
a:hover .card-arrow{
  display: block;
  transform: translateY(-25px);
}
a:hover .carousel-card-img{
  transform: translateY(-25px);
  box-shadow: 0px 20px 30px grey;
}
.head{
  color: #540D10;
}
  .slick-prev{
    top:-70px !important;
    left:83% !important;
    height:40px;
    width:40px;
    /* border: 2px solid grey;
    border-radius: 50%; */
  }
  .slick-prev:hover{
    opacity: 1 !important;
  }
.slick-next{
  top:-70px !important;
  right:40px !important;
  height:40px;
  width:40px;
  /* border: 2px solid grey;
  border-radius: 50%; */
}
.slick-prev::before{
  color:grey; 
  font-size:30px;
  /* border:2px solid red; */
  /* border-radius: 50%; */
  content:none;
  
}
.slick-next::before{
  color:grey; 
  font-size:30px;
  right:10px;
  bottom:5px;
  content:none;
}
.slick-next{
  top:-70px !important;
  left:88% !important;
  height:40px;
  width:40px;
  /* border-radius: 50%;
  border: 1px solid #000; */
  background: url('C:/Users/user/Documents/hariomPrj/satyajit/public/images/next-slider.png') no-repeat center center;
  background-size:cover;
}
.slick-next:hover,.slick-next:focus{
  background: url('C:/Users/user/Documents/hariomPrj/satyajit/public/images/next-slider.png');
  height:40px;
  width:40px;
  background-size:cover;
}
.slick-prev{
  top:-70px !important;
  left:83% !important;
  height:40px;
  width:40px;
  /* border-radius: 50%;
  border: 1px solid #000; */
  background: url('C:/Users/user/Documents/hariomPrj/satyajit/public/images/prev-slider.png') no-repeat center center;
  background-size:cover;
}
.slick-prev:hover,.slick-prev:focus{
  background: url('C:/Users/user/Documents/hariomPrj/satyajit/public/images/prev-slider.png');
  height:40px;
  width:40px;
  background-size:cover;
}