a{
  text-decoration: none;
  color:#1A1915;
}
.biblography{
  padding-left:5%;
  /* padding-left:1em; */
}
a:hover{
  color:#1A1915;
}
.card-arrow{
  display: none;
  height:30px;
  width:30px;
  background-color: #F58923;
  color:white;
  text-align: center;
  border-radius: 50%;
  font-size:16px;
  box-shadow: 0px 0px 10px #F58923;
  position: absolute;
  bottom:10px;
  left:150px;
  /* left:100px; */
  z-index: 1;
  transition:.4s all;
}
.carousel-card-img{
  transition:.4s all;
}
a:hover .card-arrow{
  display: block;
  transform: translateY(-45px);
}
.carousel-card-img{
  transition: .4s all;
}
.carousel-card-title{
  transition: .4s all;
}
a:hover .carousel-card-img{
  transform: translateY(-25px);
  box-shadow: 0px 15px 10px -15px #111;
}
a:hover .carousel-card-title{
  transform:translateY(15px)
}
.head{
  color: #540D10;
  margin-left:6%;
}
  .slick-prev:hover{
    opacity: 1 !important;
  }
.slick-prev::before,.slick-next::before{
  display: block;
  font-family:'Lato'; 
	font-weight: 900;
  color:black;
  padding-bottom:7px;
}
.slick-next{
  top:-70px !important;
  left:unset !important;
  right:100px !important;
  height:50px;
  width:50px;
  border:1px solid black;
  border-radius: 50%;
  /* background: url('../../assets/images/icon/next-slider.png') no-repeat center center;
  background-size:cover; */
}
.slick-next:hover,.slick-next:focus,.slick-prev:hover,.slick-prev:focus{
  background-color: brown;
}
.slick-next:hover.slick-next:before,.slick-prev:hover.slick-prev:before,.slick-next:focus.slick-next:before,.slick-prev:focus.slick-prev:before{
  color:white;
}
.slick-prev{
  top:-70px !important;
  right:160px !important;
  left:unset !important;
  height:50px;
  width:50px;
  border:1px solid black;
  border-radius: 50%;
  /* background: url('../../assets/images/icon/prev-slider.png') no-repeat center center;
  background-size:cover; */
}
/* .slick-prev:hover,.slick-prev:focus{
  background: url('../../assets/images/icon/prev-slider.png');
  background-size:cover;
} */
.slick-slide img{
  height:350px;
  /* border: 2px solid red; */
  padding-top:35px;
}
/* the parent */
.slick-slider{
  min-height:400px;
  padding-left:0 !important;
  /* border:2px solid black; */
}

@media only screen and (min-width:320px) and (max-width:576px){
  .slick-prev{
    /* top:70px !important; */
    right:180px !important;
    top:unset !important;
    bottom:-40px !important;
  }
  .slick-next{
    /* top:70px !important; */
    right:140px !important;
    top:unset !important;
    bottom:-40px !important;
  }

}