a{
  text-decoration: none;
  color:#1A1915;
}
a:hover{
  color:#1A1915;
}
.card-arrow{
  display: none;
  height:30px;
  width:30px;
  background-color: #F58923;
  color:white;
  text-align: center;
  border-radius: 50%;
  font-size:16px;
  box-shadow: 0px 0px 10px #F58923;
  position: absolute;
  bottom:10px;
  left:150px;
  /* left:100px; */
  z-index: 1;
  transition:.4s all;
}
.carousel-card-img{
  transition:.4s all;
}
a:hover .card-arrow{
  display: block;
  transform: translateY(-45px);
}
a:hover .carousel-card-img{
  transform: translateY(-25px);
  box-shadow: 0px 20px 30px grey;
}
.head{
  color: #540D10;
}
  .slick-prev:hover{
    opacity: 1 !important;
  }
.slick-prev::before{
  content:none;
  
}
.slick-next::before{
  content:none;
}
.slick-next{
  top:-70px !important;
  left:unset !important;
  right:100px !important;
  height:40px;
  width:40px;
  background: url('../../assets/images/icon/next-slider.png') no-repeat center center;
  background-size:cover;
}
.slick-next:hover,.slick-next:focus{
  background: url('../../assets/images/icon/next-slider.png');
  background-size:cover;
}
.slick-prev{
  top:-70px !important;
  right:140px !important;
  left:unset !important;
  height:40px;
  width:40px;
  background: url('../../assets/images/icon/prev-slider.png') no-repeat center center;
  background-size:cover;
}
.slick-prev:hover,.slick-prev:focus{
  background: url('../../assets/images/icon/prev-slider.png');
  background-size:cover;
}

@media only screen and (min-width:320px) and (max-width:576px){
  .slick-prev{
    /* top:70px !important; */
    right:180px !important;
    top:unset !important;
    bottom:-40px !important;
  }
  .slick-next{
    /* top:70px !important; */
    right:140px !important;
    top:unset !important;
    bottom:-40px !important;
  }

}